$breakpointsUp: (
	"sm": (
		min-width: $sm,
	),
	"md": (
		min-width: $md,
	),
	"lg": (
		min-width: $lg,
	),
) !default;

@mixin up-to($breakpoint) {
	@if map-has-key($breakpointsUp, $breakpoint) {
		@media #{inspect(map-get($breakpointsUp, $breakpoint))} {
			@content;
		}
	}
}

@mixin adjustAxis($a, $value) {
	@if $a == "h" {
		justify-content: $value;
	}
	@if $a == "v" {
		align-items: $value;
	}
}

@mixin transition($t: 0.4s) {
	transition: all $t ease;
}
