@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");
body { background-color: #fff; }

h1, h2, h3, h4, h5 { color: #1C9AD1; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html { box-sizing: border-box; overflow-x: hidden; }

body { -webkit-text-size-adjust: none; -ms-overflow-style: scrollbar; overflow-x: hidden; line-height: 1; }

form { width: inherit; }

*, *:before, *:after { box-sizing: inherit; }

body, input, select, textarea, li, p { font-family: "Lato", sans-serif; font-size: 1rem; font-weight: 400; letter-spacing: 0.0375em; line-height: 1.5; }

p { margin: 0 0 2rem 0; }

strong, b { font-weight: 600; }

i, em { font-style: italic; }

h1, h2, h3, h4, h5 { font-family: "Lato", sans-serif; font-weight: 600; line-height: 1.2; margin: 1rem auto; }

h1 { font-size: 2rem; }

h2 { font-size: 1.7rem; }

h3 { font-size: 1.2rem; }

h4 { font-size: 1rem; }

@media (max-width: 42.4375em) { h1 { font-size: 2rem; } h2 { font-size: 1.3rem; } h3 { font-size: 1.1rem; } h4 { font-size: 1rem; } }

a { -moz-transition: border-bottom-color 0.25s ease-in-out; -webkit-transition: border-bottom-color 0.25s ease-in-out; -ms-transition: border-bottom-color 0.25s ease-in-out; transition: border-bottom-color 0.25s ease-in-out; text-decoration: none; border: none; }

a:hover { text-decoration: none; }

h1 a, h2 a, h3 a, h4 a, h5 a { color: inherit; text-decoration: none; }

.link-primary { color: #1C9AD1; }

.enfase-1, .enfase-2 { color: #1C9AD1; }

.enfase-1 { font-size: 1.2rem; }

.enfase-2 { font-size: 1.7rem; }

.mybtn { color: #1C9AD1; text-decoration: none; text-align: center; background: none; padding: 8px; display: inline-block; transition: all 0.3s ease 0s; margin: .5rem; cursor: pointer; border: 3px solid #1C9AD1; border-radius: 30px; }

.mybtn:focus { outline: none; }

.mybtn:hover, .mybtn:focus { background-color: #7fd1f5; border-color: #7fd1f5; -webkit-box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.57); -moz-box-shadow: 0px 5px 410px -10px rgba(0, 0, 0, 0.57); box-shadow: 5px 10px -10px rgba(0, 0, 0, 0.57); transition: all 0.2s ease 0s; border: none; color: #fff; }

.mybtn-pesquisar { fill: #1C9AD1; background-color: transparent; border: none; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.mybtn-pesquisar:focus { outline: none; }

.mybtn-pesquisar:hover, .mybtn-pesquisar:focus { border: none; }

.mybtn-pesquisar:hover .myicon-pesquisar, .mybtn-pesquisar:focus .myicon-pesquisar { fill: #7fd1f5; }

.mybtn-menu { width: 25px; fill: #7fd1f5; }

.mybtn-manual { width: 200px; }

.btnback { font-size: 1.2rem; margin: 2rem; }

.btnback:before { content: "\02190"; font-size: 2rem; }

.div-h, .div-v { width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; }

@media (min-width: 56.25em) { .div-h { flex-direction: row; justify-content: center; } }

@media (min-width: 56.25em) { .div-search { width: 100%; max-width: 800px; } .div-search-date span { color: #1C9AD1; margin: 0 1rem; font-size: 1rem; } }

.textbox { display: flex; flex-direction: column; align-content: center; padding: 1rem 0.5rem; max-width: 800px; text-align: center; }

.textbox p, .textbox h1, .textbox h2, .textbox h3 { text-align: center; }

.small-info { color: #1C9AD1; text-align: center; }

.main, .manual-home, .manual-page { width: 100%; display: flex; flex-direction: column; align-items: center; min-height: 700px; padding: .5rem; }

.manual-home { background-image: url("/assets/img/manual/chart_mobo.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; }

.manual-home p { text-align: center; }

@media (min-width: 56.25em) { padding: 6rem; padding-margin: 0 2.5rem; .manual-home { background-image: url("/assets/img/manual/chart_desk.jpg"); } .main { padding: 2rem; } }

.myfooter { left: 0; right: 0; bottom: 0; width: 100%; color: #EAEAEA; background-color: #5D866C; border-top: #A5C698 0.5rem solid; box-sizing: border-box; display: flex; flex-direction: column; justify-content: center; align-content: center; flex-wrap: wrap; }

.myfooter-contacts { width: 100%; display: flex; flex-direction: column; align-items: center; }

.myfooter-link { display: block; color: #EAEAEA; margin: .5rem; text-align: center; font-size: 18px; font-weight: 600; }

.myfooter-link:hover { color: #D4DFD8; }

.myfooter-logos { width: 100%; display: flex; flex-direction: row; justify-content: space-evenly; }

.myfooter-logo { width: 100px; margin: 1rem; }

.myfooter-det { display: none; }

.citation { color: #EAEAEA; text-align: center; border-top: 1px solid #fff; padding: 1rem; }

.citation-author { text-transform: uppercase; font-weight: 700; }

.citation-italic { font-style: italic; }

@media (min-width: 56.25em) { .myfooter { flex-direction: row; justify-content: space-evenly; } .myfooter-contacts { width: 50%; flex-direction: row; align-items: center; } .myfooter-logos { width: 30%; flex-direction: row; align-items: center; justify-content: end; } .myfooter-det { display: inline-block; } }

.myheader { display: flex; top: 0; right: 0; left: 0; padding: .3rem 2rem; z-index: 1030; flex-direction: column; align-content: center; justify-item: center; background-color: #1C9AD1; border-bottom: #7fd1f5 6px solid; }

@media (min-width: 42.5em) { .myheader { height: 70px; justify-content: space-between; flex-direction: row; } }

.myicon { fill: #1C9AD1; fill-margin: .6rem; fill-background-color: none; fill-background-color-vertical-align: middle; fill-transition: all 0.2s ease 0s; }

.myicon:hover { fill: #72caf0; }

.myicon-pesquisar { margin: 2rem; width: 35px; }

.myicon-pesquisar:hover { width: 40px; }

.myicon-changesearch { width: 40px; }

.myicon-changesearch:hover { width: 45px; fill: #fff; }

.myicon-menu { width: 25px; fill: #7fd1f5; fill-margin: .6rem; fill-background-color: none; fill-background-color-vertical-align: middle; fill-transition: all 0.2s ease 0s; }

.myicon-manual { display: inline-block; margin-bottom: 1rem; transition: all 0.3s ease 0s; }

.myicon-manual svg { fill: #1C9AD1; height: 20px; margin: .25rem; }

.myicon-manual:hover { background-color: #7fd1f5; border-color: #7fd1f5; -webkit-box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.57); -moz-box-shadow: 0px 5px 410px -10px rgba(0, 0, 0, 0.57); box-shadow: 5px 10px -10px rgba(0, 0, 0, 0.57); transition: all 0.2s ease 0s; }

.myicon-manual:hover svg { fill: #fff; transition: all 0.2s ease 0s; }

.manual-img { max-width: 90%; box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.1); margin: 2rem auto; }

.manual-img-nb { margin: 2rem auto; max-width: 90%; }

@media (min-width: 56.25em) { .manual-img, .manual-img-nb { max-width: 50%; } }

.myline { min-width: 800px; margin: 1rem; }

.logo-home { max-width: 130px; margin: 1.5rem auto; fill: #1C9AD1; }

.logo-header { max-height: 50px; margin: .25rem 0 .25rem 0; fill: #fff; }

.logo-about { max-width: 120px; margin: 2rem; fill: #1C9AD1; }

@media (min-width: 56.25em) { .logo-home { max-width: 230px; margin-top: 5rem; } .logo-header { max-height: 50px; } }

.menu-prod { display: flex; flex-direction: row; align-items: center; justify-content: space-between; z-index: 99998; padding: .7rem 1.2rem 1rem 1.2rem; }

.menu-prod-link { display: flex; flex-direction: column; transform: translateY(10px); align-items: center; justify-content: center; }

.menu-prod-link:hover .myicon-menu { fill: #def3fc; transition: all 0.4s 0s ease; }

.menu-prod-link:hover .speech-bubble { color: #def3fc; transition: all 0.4s 0s ease; }

@media (max-width: 42.4375em) { .menu-prod { position: fixed; bottom: 0; left: 0; right: 0; background-color: #1C9AD1; border-top: #7fd1f5 6px solid; } }

@media (min-width: 42.5em) { .menu-prod { width: 35%; } .menu-prod-link { margin: 0 .5rem; } }

.speech-bubble { color: #7fd1f5; text-align: center; font-size: .6rem; margin: .20rem auto .5rem auto; z-index: 99999; }

#mySearch { display: flex; flex-direction: column; align-items: center; width: 100%; max-width: 800px; }

.myform { width: 100%; display: flex; flex-direction: column; justify-content: center; justify-items: center; margin: 0 auto; }

.myinput { width: 100%; vertical-align: middle; height: 2.4rem; background: #fff; border: #1C9AD1 2px solid; border-radius: 0.8rem; outline: 0; font: 1.6rem; padding: .5rem; margin: .5rem 0; transition: all 0.3s ease 0s; }

.myinput:hover { border: #1C9AD1 3px solid; letter-spacing: 1px; -webkit-box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.57); -moz-box-shadow: 0px 5px 410px -10px rgba(0, 0, 0, 0.57); box-shadow: 5px 10px -10px rgba(0, 0, 0, 0.57); transition: all 0.3s ease 0s; }

.myinput-date { max-width: 120px; margin: 1rem; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { border: 1px solid #ddd; padding: 8px; }

tr:nth-child(even) { background-color: #f2f2f2; }

tr:hover { background-color: #ddd; }

th { padding-top: 12px; padding-bottom: 12px; text-align: left; font-weight: 600; color: #fff; }
