.outroinput {
  background-color: #dddddd;
  border-radius: 15px;
}



// ================

.testnobtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include transition();

  &:hover {
    color: _palette(theme-light-2);
  }
}


// ========================

.c-collapsetwo {
  border: 1px dashed _palette(theme-light-2);
  margin: 1rem;
  padding: .5rem;

  &-summary {
    color: _palette(theme);
  }
}
