r2e
composer.lock
composer.phar
vendor/
xml/
download_lattes/
inc/config.php
coletaprod/
tools/lattes/curriculo.xml
tools/lattes/zip.zip
tools/reindex.sh
data/
tmp/
backup/
tools/data/
_rascunhos/
start.sh
Dockerfile
docker-compose.yml
docker-entrypoint.sh
.vscode/settings.json
inc/google_analytics.php
