# invoke rewrite engine
    RewriteEngine On

# redirect to trailing shash (/)
   # RewriteCond %{REQUEST_FILENAME} !-f
   # RewriteCond %{REQUEST_URI} !(.*)/$
   # RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [L,R=301]

# profile

   RewriteRule ^sobre$ sobre.php [NC]
   RewriteRule ^profile/([-\d]+)$ profile.php?lattesID=$1 [QSA]