/* MIXINS */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
h1 { color: #1C9AD1; }

h2 { color: #1C9AD1; }

h3 { color: #1C9AD1; }

h4 { color: #1C9AD1; }

p, li { color: #07597c; }

.bodycolor { background-color: #ebebeb; }

.highlight { color: #7fd1f5; }

/*====================================================
#	NORMALIZE 
==================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html { box-sizing: border-box; overflow-x: hidden; }

body { -webkit-text-size-adjust: none; -ms-overflow-style: scrollbar; overflow-x: hidden; line-height: 1; }

form { width: inherit; }

*, *:before, *:after { box-sizing: inherit; }

html { overflow-x: initial !important; }

ul { margin: 10px; }

body, input, select, textarea, li, p { font-family: "Lato", sans-serif; font-size: 1rem; font-weight: 400; letter-spacing: 0.0375em; line-height: 1.5; }

p { margin: 0 0 2rem 0; }

strong, b { font-weight: 600; }

i, em { font-style: italic; }

h1, h2, h3, h4, h5 { font-family: "Lato", sans-serif; font-weight: 900; line-height: 1; margin-top: 1rem; margin-bottom: 1rem; }

h1 { font-size: 2.2rem; }

h2 { font-size: 2.3rem; }

h3 { font-size: 1.2rem; }

h4 { font-size: 1rem; }

@media (max-width: 42.4375em) { h1 { font-size: 2rem; } h2 { font-size: 1.7rem; } h3 { font-size: 1.2rem; } h4 { font-size: 1rem; } }

a { -moz-transition: border-bottom-color 0.25s ease-in-out; -webkit-transition: border-bottom-color 0.25s ease-in-out; -ms-transition: border-bottom-color 0.25s ease-in-out; transition: border-bottom-color 0.25s ease-in-out; text-decoration: none; border: none; }

a:hover { text-decoration: none; }

h1 a, h2 a, h3 a, h4 a, h5 a { color: inherit; text-decoration: none; }

.mybtn2 { border: 3px solid #128fc5; border-radius: 50px; display: inline-block; width: 75%; margin-bottom: 1rem; transition: all 0.3s ease 0s; }

.mybtn2:hover { background-color: #7fd1f5; border-color: #7fd1f5; color: #fff; -webkit-box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.57); -moz-box-shadow: 0px 5px 410px -10px rgba(0, 0, 0, 0.57); box-shadow: 5px 10px -10px rgba(0, 0, 0, 0.57); transition: all 0.3s ease 0s; cursor: pointer; }

.mybtn2:hover svg { fill: #fff; transition: all 0.3s ease 0s; }

.mybtn2-img { fill: #128fc5; height: 20px; margin: .25rem; }

@media (min-width: 56.25em) { .mybtn2-img { height: 30px; margin: .5rem; } .manual-img { max-width: 1000px; } }

@media (min-width: 56.25em) { .mybtn2 { max-width: 250px; margin: 1rem; } }

.btnback { border: 3px solid #128fc5; border-radius: 50px; padding: 0 1rem; color: #128fc5; font-size: 1.5rem; margin: 2rem; }

.btnback:before { content: "\02190"; color: #128fc5; font-size: 2rem; }

.btnback:hover { background-color: #7fd1f5; border-color: #7fd1f5; color: #fff; -webkit-box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.57); -moz-box-shadow: 0px 5px 410px -10px rgba(0, 0, 0, 0.57); box-shadow: 5px 10px -10px rgba(0, 0, 0, 0.57); transition: all 0.3s ease 0s; cursor: pointer; }

/* -- Grid System -- */
.lin-first, .col-first { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; }

@media (min-width: 56.25em) { .lin-first { flex-direction: row; } }

.home-wrapper, .page-wrapper { display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #fff; min-height: 700px; padding: .5rem; }

@media (min-width: 56.25em) { .page-wrapper { margin: 0 2.5rem; padding: 2rem 2rem; } }

.myheader { display: flex; align-items: center; height: 70px; top: 0; right: 0; left: 0; margin: 0; padding: 0; z-index: 1030; flex-wrap: wrap; justify-content: space-between; padding: 0.5rem 3rem 0.5rem 3rem; background-color: #128fc5; border-bottom: #7fd1f5 6px solid; }

@media (min-width: medium-only/16em) { .myheader { height: 100px; justify-content: center; } }

.myfooter { left: 0; right: 0; bottom: 0; width: 100%; min-height: 200px; color: #EAEAEA; background-color: #5D866C; border-top: #A5C698 0.5rem solid; box-sizing: border-box; }

.myfooter__wrapper { display: flex; flex-direction: column; justify-content: center; align-content: center; flex-wrap: wrap; background-color: #5D866C; }

.myfooter__contact { display: flex; flex-direction: column; }

.myfooter__contact a { display: inline-block; color: #EAEAEA !important; margin: .5rem; text-align: center; font-size: 18px; font-weight: 600; }

.myfooter__contact a:hover { color: #D4DFD8; }

.myfooter__logos { display: flex; flex-direction: row; justify-content: space-evenly; }

.myfooter__logo { width: 100px; margin: 1rem; }

.myfooter__link-det { display: none; }

.myfooter__line { width: 80%; border-top: 2px solid white; margin: 0.5rem auto; }

@media (min-width: 56.25em) { .myfooter__wrapper { flex-direction: row; justify-content: space-evenly; } .myfooter__contact { width: 50%; flex-direction: row; align-items: center; } .myfooter__logos { width: 30%; flex-direction: row; align-items: center; justify-content: end; } .myfooter__link-det { display: inline-block; } .myfooter__line { display: none; } }

.citation { color: #EAEAEA; text-align: center; border-top: 1px solid #fff; padding: 1rem; }

.citation__author { text-transform: uppercase; font-weight: 700; }

.citation__italic { font-style: italic; }

.citation__container { width: 100%; display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap; }

@media (min-width: 56.25em) { .citation { width: 80%; margin: 0 auto; flex-direction: row; } }

.logo-home { fill: #1C9AD1; max-width: 300px; padding: 0 0 2rem 0; margin-top: 2rem; }

.logo-header { fill: #fff; max-height: 30px; margin: 0; padding: 0; }

@media (min-width: 42.5em) { .logo-home { margin-top: 8rem; } .logo-header { justify-self: center; } }

.manual-img { max-width: 90%; box-shadow: 3px 3px 13px 3px rgba(0, 0, 0, 0.1); margin: 2rem auto; }

.manual-img-nb { margin: 2rem auto; max-width: 90%; }

@media (min-width: 56.25em) { .manual-img, .manual-img-nb { max-width: 50%; } }

.mymenu { display: inline-block; }

.mymenu li, .mymenu ul { display: flex; flex-direction: row; }

.myModal { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; overflow: auto; background-color: black; background-color: rgba(0, 0, 0, 0.6); padding-top: 70px; z-index: 2; }

.myModal-content { margin: auto; display: block; max-width: 90%; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { border: 1px solid #ddd; padding: 8px; }

tr:nth-child(even) { background-color: #f2f2f2; }

tr:hover { background-color: #ddd; }

th { padding-top: 12px; padding-bottom: 12px; text-align: left; font-weight: 600; background-color: #128fc5; color: #fff; }

.myline { color: #128fc5; min-width: 800px; margin: 1rem; }

.page-home { display: flex; flex-direction: column; align-items: center; justify-content: center; padding-bottom: 3rem; background-image: url("/assets/img/chart_mobo.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; }

.page-home p { text-align: center; }

@media (min-width: 56.25em) { .page-home { background-image: url("/assets/img/chart_desk.jpg"); } }

#nav { width: 100%; }

.textbox { display: flex; flex-direction: column; align-content: center; max-width: 700px; }

.textbox p, .textbox h1 { text-align: center; }

.page-content { padding: 1rem; }

/*# sourceMappingURL=style-manual.css.map */