$paletteGraph: (
	0: --c-pr-7,
	1: --c-pr-6,
	2: --c-pr-3,
	3: --c-pr-2,
	4: --c-pr-1,
);

// THEMES
$Prodmais: (
	pr: (
		198,
		76%,
	),
	se: (
		142,
		29%,
	),
	ic: (
		198,
		56%,
	),
);

$Waterbeach: (
	pr: (
		169,
		76%,
	),
	se: (
		0,
		0%,
	),
	ic: (
		169,
		50%,
	),
);

$Tomaton: (
	pr: (
		342,
		76%,
	),
	se: (
		0,
		0%,
	),
	ic: (
		342,
		20%,
	),
);

$Blueberry: (
	pr: (
		280,
		76%,
	),
	se: (
		280,
		20%,
	),
	ic: (
		280,
		76%,
	),
);

$themes: (
	Prodmais: $Prodmais,
	Waterbeach: $Waterbeach,
	Tomaton: $Tomaton,
	Blueberry: $Blueberry,
);

$lights: (
	pr: (
		20%,
		30%,
		40%,
		50%,
		60%,
		70%,
		80%,
		90%,
	),
	se: (
		30%,
		50%,
		70%,
		80%,
		90%,
	),
	ic: (
		50%,
		65%,
		75%,
		90%,
	),
	mn: (
		0%,
		10%,
		20%,
		40%,
		50%,
		80%,
		90%,
		100%,
	),
);
