// BREAKPOINTS
$sm: 669px;
$md: 899px;
$lg: 1299px;

$breakpointsUp: (
	"sm": (
		min-width: $sm,
	),
	"md": (
		min-width: $md,
	),
	"lg": (
		min-width: $lg,
	),
) !default;

// GRID SYSTEM TOTAL COLUMNS
$container_width: 1400px !default;
$total_columns: 12;

// SPACING
$spacing_graduation: (
	"02": 0.2rem,
	"05": 0.5rem,
	"10": 1rem,
	"15": 1.5rem,
	"20": 2rem,
	"30": 3rem,
);

// MARGINS
$margins: (
	"m": "",
	"mx": "block",
	"my": "inline",
	"mb": "bottom",
	"mt": "top",
	"ml": "left",
	"mr": "right",
);

// INPUTS
$input_border_radius: 40px !default;
$input_margin: 0.3rem 0.5rem !default;
$input_height: 2.2rem !default;
$switch_height: 30px !default;

// container of inputs
$filterbar_width_desk: 420px !default;
$filterbar_width_mob: 100% !default;

// inputs fonts
$fontsize_mobi: 0.9rem !default;
$fontsize_desk: 1.2rem !default;

// ICONS SIZE
$iSm: 24px;
$iMd: 32px;
$iLg: 48px;
$iLgg: 72px;
