@mixin adjust-axis($a, $value) {
	@if $a == "h" {
		justify-content: $value;
	}
	@if $a == "v" {
		align-items: $value;
	}
}

@mixin transition($t: 0.4s) {
	transition: all $t ease;
}

@mixin make-margin($margins, $spacing) {
	@each $k_margin, $v_margin in $margins {
		@each $k_spacing, $v_spacing in $spacing {
			.u-#{$k_margin}-#{$k_spacing} {
				margin#{margin-property($v_margin)}: $v_spacing;
			}
		}
	}
}

@mixin ico($ico) {
	-webkit-mask-image: $ico;
	mask-image: $ico;
}
