// svg icons
// url("data:image/svg+xml,<svg></svg> ");
// background-image: escape-svg($icon-closed);

// some icons
$icon-closed: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{var(--c-pr-2)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$icon-opened: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{var(--c-pr-2)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$circle: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 200 200'><circle cx='100' cy='100' r='100'/></svg>");

// example: url("data:image/svg+xml;utf8, "),

@each $i, $ico in $myIconsPack {
	.i-#{$i} {
		@include ico($ico);
	}
}

.i {
	background-color: var(--c-ic-0);
	display: inline-block;
	margin: 0.25rem;
	mask-position: center;
	-webkit-mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
	@include transition;
}

.i-sm {
	height: $iSm;
	width: $iSm;
}
.i-md {
	height: $iMd;
	width: $iMd;
}
.i-lg {
	height: $iLg;
	width: $iLg;
}
.i-lgg {
	height: $iLgg;
	width: $iLgg;
}

// ======
// particular configs

.i-btn {
	margin: 0 0.25rem;
	vertical-align: middle;
}

.i-arrow-up,
.i-arrow-down {
	height: 20px;
	width: 30px;
}

.i-lupa {
	// @include transition-btn;
}

// .i-btn-arrow {
// 	fill: var(--c-pr-2);
// 	margin: 0 0.25rem;
// 	vertical-align: middle;
// 	width: 30px;
// }

.i-lang {
	height: 50px;
	width: 50px;
}

.i-link {
	cursor: pointer;
	height: 24px;
	margin-right: 0.25rem;
	width: 24px;
	@include transition();

	&:hover {
		background-color: var(--c-ic-4);
	}
}

.i-arrowOpenMenu {
	height: 15px;
	width: 100px;
}

.country-flag {
	border-radius: 50%;
	width: 24px;
}

.i-arrows-home {
	margin: 1rem;
	width: 35px;
}

// ======
// logos

.i-prodmais {
	height: 169px;
	width: 300px;
}

.i-doi {
	height: 24px;
	margin-right: 0.25rem;
	width: 24px;
}
