$grap-graduation: 20px;
$grap-gap-min: 2px;

@mixin GraphBarBorder() {
	border: 1px solid _palette(theme);
	border-radius: 30px;
}

@for $i from 1 through 12 {
	.c-gppg-bar[data-weight="#{$i}"] {
		--sizebar: #{$i};
	}
}

.c-gppg {
	position: relative;
	width: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	&-plot,
	&-slice,
	&-slice-tri,
	&-legends,
	&-bars {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		box-sizing: border-box;
	}

	&-plot,
	&-slice,
	&-slice-tri,
	&-bars,
	&-bar,
	&-year {
		width: 100%;
	}

	&-plot {
		@include GraphBarBorder();
		padding: 4rem 1rem 0 1rem;
		position: relative;
		flex-wrap: nowrap;
		flex-direction: row;
		z-index: 5;
		overflow: hidden;
	}

	&-legends,
	&-slice,
	&-slice-zero,
	&-bars {
		flex-direction: column;
	}

	&-slice-zero {
		flex-direction: column-reverse;
		margin-right: 1rem;
		max-width: 15px;
	}

	&-slice {
		margin-inline: $grap-gap-min;
	}

	&-slice-tri {
		margin-inline: $grap-gap-min;
		width: 100%;
	}

	&-level {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		height: $grap-graduation;
		color: _palette(theme-light-1);
		font-size: 0.7rem;
	}

	&-bars {
		flex-direction: column;
	}

	&-bar {
		--sizebar: 2;
		width: 100%;
		height: calc(var(--sizebar) * $grap-graduation);
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
	}

	&-bar[data-type="1"],
	&-legend[data-number="1"] {
		background-color: _palette(gb1);
	}

	&-bar[data-type="2"],
	&-legend[data-number="2"] {
		background-color: _palette(gb2);
	}

	&-bar[data-type="3"],
	&-legend[data-number="3"] {
		background-color: _palette(gb3);
	}

	&-bar[data-type="4"],
	&-legend[data-number="4"] {
		background-color: _palette(gb4);
	}

	&-bar[data-type="5"],
	&-legend[data-number="4"] {
		background-color: _palette(gb5);
	}

	&-bar[data-type="6"],
	&-legend[data-number="4"] {
		background-color: _palette(gb6);
	}

	&-legend {
		padding: 0.2rem 0.7rem;
		border-radius: 12px;
		color: #fff;
		font-weight: 600;
		margin: 0.5rem;
		font-size: 0.9rem;
	}

	&-grid {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: absolute;
		z-index: 2;
		margin-bottom: $grap-graduation;

		&-line {
			width: 100%;
			border-bottom: 1px dashed _palette(theme-light-2);
			border-top: none;
			border-left: none;
			border-right: none;
			margin: calc($grap-graduation - 1px) 0 0 0;
			padding: 0;
			box-sizing: border-box;
		}
	}

	&-infos {
		margin: 1rem 2rem;
	}

	&-title {
		text-align: center;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	&-legends {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-year {
		height: $grap-graduation;
		text-align: center;
		color: _palette(theme);
		font-size: 0.7rem;
		// border-inline: 1px solid _palette(theme-light-2);
	}
}

.c-gppg-slice-tri .c-gppg-slice {
	margin: 0;
}

@include up-to("lg") {
	.c-gppg {
		&-plot {
			padding: 4rem 1rem 0 0.5rem;
		}

		&-legends {
			flex-direction: row;
		}
	}
}
