// GRAPH

$unit: 15px;
$gap: 2px;

.c-graph {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: fit-content;
	flex-wrap: nowrap;

	&-division {
		margin-top: 1rem;
	}

	// &-info {
	//   align-items: center;
	//   display: flex;
	//   flex-direction: column;
	//   margin-top: 1rem;
	//   text-align: center;

	//   &-label {
	//     text-align: center;
	//     color: _palette(theme-light-2);
	//     font-weight: 700;
	//     font-size: 1.2rem;
	//   }
	// }

	&-label {
		color: _palette(theme-light-2);
		justify-content: center;
		font-size: 0.8rem;
		margin-right: 0.5rem;
	}

	&-line {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin-bottom: 4px;
	}

	&-unit {
		background-color: _palette(g0);
		border-radius: 2px;
		width: $unit;
		height: $unit;
		margin-inline: $gap;
	}
}

$gColor: (
	0: _palette(g0),
	1: _palette(g1),
	2: _palette(g2),
	3: _palette(g3),
	4: _palette(g4),
);

@each $n, $color in $gColor {
	.c-graph-unit[data-weight="#{$n}"] {
		background-color: $color;
	}
}

@include up-to("lg") {
	.c-graph-unit {
		width: $unit;
		height: $unit;
		margin-inline: $gap;
	}
}

// @for $i from 1 through 100 {
//   .graph-unit[data-weight="#{$i}"] { width: calc(#{$i} * .25rem); }
// }
