.c-infotag {
  // border: 1px solid _palette(theme-light-2);
  background-color: _palette(theme);
  // border-radius: 20px;
  color: #fff;
  font-size: .8rem;
  overflow: visible;
  padding: .20rem .75rem;
  white-space: nowrap;
}

// .c-infotag:before {
//   content: '';
//   border-top: 80px solid #fff;
//   border-right: 80px solid transparent;
//   width: 0;
// }