.c-tab {
  &-bar {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid _palette(theme-light-2);
  }

  &-btn {
    background-color: _palette(bg-primary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid _palette(theme-light-2);
    color: _palette(theme);
    cursor: pointer;
    display: flex;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: .95rem;
    height: fit-content;
    justify-content: center;
    padding: .3rem 1rem .3rem 1rem;
    transform: translateY(1px);
    width: fit-content;
    z-index: 999;

    &:hover {
      background-color: _palette(theme-light-3);
      color: _palette(title);
      transition: all 0.4s 0s ease;
    }
  }

  &-active {
    background-color: _palette(bg-primary);
    border: 2px solid _palette(theme);
    border-bottom: none;
    color: _palette(title);
  }
}
