table {
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	margin: 0.5rem auto;
	overflow: hidden;
	@include transition();
	width: 90%;
}

tbody {
	color: _palette(theme);
}

td,
th {
	border: none;
	padding: 8px;
	text-align: center;
}

.thead {
	color: #fff;
	background-color: _palette(theme-light-2);
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: _palette(theme-light-4);
}

tbody tr:nth-child(odd) {
	background-color: _palette(theme-light-5);
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	font-weight: 600;
}

@include up-to("md") {
	table {
		width: 80%;
	}
}
