.c-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: _palette(bg-1);
	min-height: 700px;
	padding: 0.5rem;
	@include transition();
}

@include up-to("md") {
	.c-wrapper {
		padding: 1rem 2rem 2rem 2rem;
	}
}

.c-wrapper {
	&-body {
		background-color: _palette(bg-secondary);
	}

	&-container {
		width: 100%;
		margin: 0;
	}

	&-paper {
		position: relative;
		background-color: _palette(bg-primary);
		border-radius: 50px;
		padding-bottom: 2rem;
		margin: 1rem;
		position: relative;
		transition: all 0.4s ease;
	}

	&-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
		transition: all 0.4s ease;
	}

	&-tabs-inner {
		padding: 2rem;
	}
}

@include up-to("md") {
	.c-wrapper {
		&-paper {
			margin: 4rem;
		}

		&-inner {
			padding: 4rem 3rem 3rem 2rem;
		}
	}
}

// @include up-to('md') {
//   .profile-tabs {
//     padding: 4rem;
//   }
// }
