// TAG

.tag-cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;

  .tag:focus {
    outline: 1px dashed;
    color: _palette(theme);
  }
}


@for $i from 1 through 9 {
  .tag[data-weight="#{$i}"] { --size: #{$i}; }
}


.tag {
  --size: 3;
  color: _palette(theme);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  margin: .10rem;
  opacity: calc((15 - (9 - var(--size))) / 15); 


  &:focus,
  &:hover {
    color: lighten(_palette(theme), 30%);
    transition: all 0.2s ease 0s;
  }
}

// @media (prefers-reduced-motion) {
//   .tag * {
//     transition: none !important;
//   }
// }
