/// === TYPOGRAPHY === ///
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");

body,
input,
select,
textarea,
li,
p {
	font-family: "Lato", sans-serif;
}

strong,
b {
	font-weight: 600;
}

i,
em {
	font-style: italic;
}

// == general == //

.t {
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.0375em;
	line-height: 1.5;
}

.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}

.t-justify {
	text-align: justify;
}

.t-md {
	font-size: 1.2rem;
}

.t-lg {
	font-size: 1.5rem;
}

.t-gray {
	color: var(--c-mn-40);
}

.t-light {
	color: var(--c-mn-50);
}

// == links == //

a {
	border: none;
	color: inherit;
	text-decoration: none;
	@include transition;

	&:hover {
		text-decoration: none;
	}

	&:visited {
		color: inherit;
	}
}

.t-a {
	color: var(--c-fg-2);
}

.t-b {
	font-weight: 600;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: inherit;
	text-decoration: none;
}

// == headings == //

.t-h1,
.t-h2,
.t-h3,
.t-h4,
.t-h5 {
	font-weight: 700;
	margin-bottom: 0.6rem;
}

$sizeH: (
	1: clamp(1.4rem, 2vw + 1rem, 1.8rem),
	2: clamp(1.3rem, 2vw + 1rem, 1.6rem),
	3: clamp(1.2rem, 2vw + 1rem, 1.4rem),
	4: clamp(1.1rem, 2vw + 1rem, 1.2rem),
	5: clamp(1rem, 2vw + 1rem, 1.1rem),
);

@each $n, $size in $sizeH {
	.t-h#{$n} {
		font-size: $size;
	}
}
