// == MENUS == //

.sitemenu-container {
	align-items: center;
	display: flex;
	font-size: 2rem;
}

.sitemenu-btn-ico {
	color: _palette(theme-light-4);
	cursor: pointer;
	@include transition;
	&:hover {
		color: _palette(theme-light-2);
	}
}

.sitemenu-btn-check {
	display: none;
}

.sitemenu-btn-check:checked ~ .sitemenu {
	// @include slideToBotton;
	@include sitemenuOpening;
	display: block;
	opacity: 1;
}

.sitemenu {
	background-image: linear-gradient(_palette(theme), _palette(theme-dark));
	// -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.77);
	box-shadow: 0px 20px 10px 7px rgba(0, 0, 0, 0.4);
	display: none;
	height: 100vh;
	left: 0;
	padding: 2rem;
	position: absolute;
	top: 4rem;
	transition: all 0.3s ease;
	width: 100%;
	z-index: -1;

	@include up-to("lg") {
		height: auto;
		left: auto;
		right: 0;
		width: 300px;
	}
}

// @media (max-width: $md) {
// 	.sitemenu {
// 		height: 90vh;
// 	}
// }

.sitemenu-list {
	list-style: none;
	margin: 0 auto;
	max-width: 300px;
}

.sitemenu-link {
	align-items: center;
	color: _palette(theme-light-2);
	display: flex;
	font-size: 1.1rem;
	justify-content: space-between;
	margin-block: 0.8rem;
	position: relative;
	width: 100%;
	@include transition;

	&:visited {
		color: _palette(theme-light-2);
	}

	&:hover {
		color: _palette(theme-light-4);

		.sitemenu-ico {
			background-color: _palette(theme-light-4);
		}
	}
}

.sitemenu-ico {
	background-color: _palette(theme-light-2);
	height: 40px;
	margin-left: 0.5rem;
	width: 40px;
	@include transition;
}
