.p-ppgs {

  &-item {
    padding-right: 4rem;

    &-header {
      font-size: 1.1rem;
      color: _palette(theme-light-1);
      border-bottom: 1px solid _palette(theme-light-2);
      border-left: 1px solid _palette(theme-light-2);
      border-bottom-left-radius: 30px;
      padding: 1rem;
      margin-bottom: 2rem;
      cursor: pointer;
    }
  }
}
