// $icon-profmenu-1: url("data:image/svg+xml;utf8, ");
$imgTestIcon: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8L8.11 7.06L5 5.5L12 2L19 5.5V10.5H18V6L15.89 7.06L16 8M12 14C16.42 14 20 15.79 20 18V20H4V18C4 15.79 7.58 14 12 14Z' /></svg>");

// Page Layout

.p-ppg-header {
	align-items: center;
	display: flex;
	flex-direction: column;

	&-one,
	&-two,
	&-three,
	&-four {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
}

@include up-to("lg") {
	.p-ppg-header {
		align-items: flex-start;
		flex-direction: row;

		&-one,
		&-two,
		&-three {
			align-items: flex-start;
		}

		&-two,
		&-three {
			border-right: 1px dashed _palette(theme-light-2);
			height: 300px;
			margin-right: 1.5rem;
			padding-right: 1.5rem;
		}

		&-two {
			max-width: 600px;
			width: 100%;
		}

		&-three {
			min-width: 250px;
		}

		&-four {
			align-items: flex-start;
			flex-direction: row;
			justify-content: flex-end;
			width: 100%;
		}
	}
}

// Components
.p-ppg {
	&-badges {
		display: flex;
		flex-direction: column;
		min-width: 250px;

		@include up-to("md") {
			flex-direction: row;
			justify-content: center;
		}
		@include up-to("lg") {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&-logo {
		background-color: _palette(theme-light-2);
		height: 70px;
		margin: 1rem 1rem 0 0;
		width: 70px;
	}

	&-i {
		background-color: _palette(theme-light-2);
		height: 24px;
		margin-bottom: 0.3rem;
		margin-right: 0.7rem;
		width: 24px;
	}

	&-orientadores {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		width: 100%;
	}

	&-plataforms {
		height: 50px;
	}

	&-externos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1rem;
	}
}
