.p-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3rem;

	// @include up-to("md") {
	// 	flex-direction: row;
	// 	justify-content: space-around;
	// }

	&-section1,
	&-section2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 1000px;
	}

	&-section1 {
		padding-inline: 2rem;
		text-align: center;
	}

	&-ico {
		margin: 1rem auto;
		transition: all 0.25s ease-in-out;
		width: 200px;

		&:hover {
			fill: var(--c-ic-4);
		}
	}

	&-titles {
		margin: 1rem center;
	}

	&-text {
		margin-block: 2rem;
		text-align: justify;
	}

	&-team {
		@extend .u-grayscale;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-block: 2rem;
		width: 100%;
	}
}

.p-about-logos {
	width: 200px;
	margin: 1rem;
}

.logo-about {
	fill: var(--c-pr-3);
	margin: 2rem;
	max-width: 120px;
}
