.p-categorias {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	max-width: $container_width;
	padding-top: $siteheader_height;
}


.grid-categorias {
	@include up-to('md') {
		display: grid;
			grid-template-columns: 50% 50%;

	}

}