.p-ppgs {
	&-item {
		padding-right: 4rem;

		&-header {
			font-size: 1.1rem;
			color: var(--c-pr-3);
			border-bottom: 1px solid var(--c-pr-4);
			border-left: 1px solid var(--c-pr-4);
			border-bottom-left-radius: 30px;
			padding: 1rem;
			margin-bottom: 2rem;
			cursor: pointer;
		}
	}
}
