.p-predash-main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3rem auto;
	max-width: 900px;
	text-align: center;
}

.p-predash-img {
	margin: 2rem auto;
	max-width: 300px;
}
