@-webkit-keyframes sitemenu-opening {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes sitemenu-opening {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@mixin sitemenuOpening() {
	-webkit-animation: sitemenu-opening 0.3s;
	animation: sitemenu-opening 0.3s;
}

@-webkit-keyframes sitemenu-closing {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}

@keyframes sitemenu-closing {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}
