// == MENUS == //

.sitemenu-container {
	align-items: center;
	display: flex;
	font-size: 2rem;
}

.sitemenu-btn-ico {
	color: var(--c-sitemenu-fg);
	cursor: pointer;
	@include transition;
	&:hover {
		color: var(--c-sitemenu-fg);
	}

	@include up-to($sitemenu_bk) {
		display: none;
	}
}

.sitemenu-btn-check {
	display: none;
}

.sitemenu-btn-check:checked ~ .sitemenu {
	@include sitemenuOpening;
	display: block;
	opacity: 1;
}

@media (max-width: $lg) {
	.sitemenu {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		background-image: linear-gradient(var(--c-sitemenu-bg), var(--c-pr-1));
		box-shadow: 0px 20px 10px 7px rgba(0, 0, 0, 0.4);
		display: none;
		height: 100vh;
		left: 0;
		padding: 2rem;
		position: absolute;
		top: $siteheader_height;
		transition: all 0.3s ease;
		width: 100%;
		z-index: 100;
	}
}

.sitemenu-list {
	list-style: none;
	margin: 0 auto;
	max-width: 300px;

	@include up-to($sitemenu_bk) {
		display: flex;
		max-width: 1200px;
	}
}

.sitemenu-link {
	align-items: center;
	color: var(--c-sitemenu-fg);
	display: flex;
	font-size: 1.1rem;
	justify-content: space-between;
	margin-block: 0.8rem;
	position: relative;
	text-decoration: none !important;
	width: 100%;
	@include transition;

	&:visited {
		color: var(--c-sitemenu-fg);
	}

	&:hover {
		color: var(--c-sitemenu-fg-hover);

		.sitemenu-ico {
			background-color: var(--c-sitemenu-fg-hover);
		}
	}

	@include up-to($sitemenu_bk) {
		justify-content: center;
		margin-inline: 1rem;
	}
}

.sitemenu-ico {
	background-color: var(--c-sitemenu-fg);
	height: 40px;
	margin-left: 0.5rem;
	width: 40px;
	@include transition;

	@include up-to($sitemenu_bk) {
		height: 24px;
		width: 24px;
	}
}
