// == TYPOGRAPHY == //
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");

body,
input,
select,
textarea,
li,
p {
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.0375em;
	line-height: 1.5;
}

strong,
b {
	font-weight: 600;
}

i,
em {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	margin-bottom: 0.6rem;
}

a {
	border: none;
	text-decoration: none;
	@include transition;

	&:hover {
		text-decoration: none;
	}

	&:visited {
		color: inherit;
	}
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: inherit;
	text-decoration: none;
}

// GENERAL

.t {
	font-family: "Lato", sans-serif;
}

.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}

.t-justify {
	text-align: justify;
}

$sizeH: (
	1: 1.7rem,
	2: 1.5rem,
	3: 1.3rem,
	4: 1.2rem,
	5: 1.1rem,
);

@each $n, $size in $sizeH {
	.t-h#{$n} {
		font-size: $size;
	}
}
