/* === LAYOUT === */

.p-result {
	&-main,
	&-nav {
		margin: 2rem 0.5rem;
	}

	&-authors {
		min-height: 55vh;
	}
}

.p-result-container {
	background-color: var(--c-bg-2);
}

.c-term {
	border-block: 1px solid var(--c-pr-4);
	color: var(--c-pr-2);
	margin-block: 1rem;
	padding: 0.5rem;
	text-align: center;
}

.c-filterlist {
	width: $filterbar_width_mob;
}

@include up-to("lg") {
	.p-result {
		&-container {
			column-gap: 1rem;
			display: grid;
			grid-template-areas: "resultnav resultmain";
			grid-template-columns: $filterbar_width_desk 1fr;
			padding-right: 2rem;
		}

		&-main {
			grid-area: resultmain;
			margin: 2rem 1rem;
			width: 100%;
		}

		&-nav {
			grid: resultnav;
		}
	}
}
