.outroinput {
	background-color: #dddddd;
	border-radius: 15px;
}

// ================

.testnobtn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	@include transition();

	&:hover {
		color: var(--c-pr-4);
	}
}

// ========================

.c-collapsetwo {
	border: 1px dashed var(--c-pr-4);
	margin: 1rem;
	padding: 0.5rem;

	&-summary {
		color: var(--c-pr-2);
	}
}
