/// === DON'T FORGET THE VARS! === ///
@import "00-vars/vars";
@import "00-vars/svg";

/// === FUNCTIONS === ///
@import "01-functions/functions";

/// === MIXINS === ///
@import "02-mixins/breakpoint";
@import "02-mixins/grid-system";
@import "02-mixins/theme-system";
@import "02-mixins/mixins";

/// === BASE === ///
@import "03-base/normalize";
@import "03-base/divs";
@import "03-base/transitions";
@import "03-base/acessibility";
@import "03-base/typography";

/// === SITE === ///
@import "04-site/theme";
@import "04-site/icons";
@import "04-site/header";
@import "04-site/menu";
@import "04-site/footer";

/// === PAGES === ///
@import "05-pages/p_about";
@import "05-pages/p_home";
@import "05-pages/p_categorias";
@import "05-pages/p_departamento";
@import "05-pages/p_inclusao";
@import "05-pages/p_manual";
@import "05-pages/p_manual-home";
@import "05-pages/p_ppg";
@import "05-pages/p_ppgs";
@import "05-pages/p_predash";
@import "05-pages/p_profile";
@import "05-pages/p_projeto";
@import "05-pages/p_projetos";
@import "05-pages/p_result";

/// === COMPONENTS === ///
@import "06-components/c-back-to-top";
@import "06-components/c-badge";
@import "06-components/c-btn";
@import "06-components/c-categories";
@import "06-components/c-collapse";
@import "06-components/c-filterlist";
@import "06-components/c-filterdrop";
@import "06-components/c-input";
@import "06-components/c-infotag";
@import "06-components/c-line";
@import "06-components/c-graph";
@import "06-components/c-gppg";
@import "06-components/c-manual";
@import "06-components/c-navigator";
@import "06-components/c-switch";
@import "06-components/c-profmenu";
@import "06-components/c-tables";
@import "06-components/c-tips";
@import "06-components/c-wrapper";
@import "06-components/c-who";
@import "06-components/tag";
@import "06-components/s-list";

/// === UTILS === ///
@import "03-base/margin";
@import "03-base/utils";
