@import "abstracts/vars";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/svg";
@import "base/theme";
@import "abstracts/utils";
@import "base/divs";
@import "base/transitions";
@import "base/vue-transitions";
@import "base/icons";
@import "base/normalize";
@import "base/typography";
@import "base/sitefooter";
@import "base/siteheader";
@import "base/sitemenu";
@import "base/md-container";

@import "components/c-accordion";
@import "components/c-back-to-top";
@import "components/c-badge";
@import "components/c-btn";
@import "components/c-filterlist";
@import "components/c-filterdrop";
@import "components/c-input";
@import "components/c-inputs";
@import "components/c-infotag";
@import "components/c-line";
@import "components/c-graph";
@import "components/c-gppg";
@import "components/c-manual";
@import "components/c-navigator";
@import "components/c-switch";
// @import "components/c-tab";
@import "components/c-profmenu";
@import "components/c-tables";
@import "components/c-tips";
@import "components/c-textbox";
@import "components/c-wrapper";
@import "components/c-who";
@import "components/tag";
@import "components/s-list";
@import "pages/about";
@import "pages/departamento";
@import "pages/home";
@import "pages/inclusao";
@import "pages/manual";
@import "pages/manual-home";
@import "pages/ppg";
@import "pages/ppgs";
@import "pages/predash";
@import "pages/profile";
@import "pages/projeto";
@import "pages/projetos";
@import "pages/result";
@import "tests";
