.c-infotag {
	// border: 1px solid var(--c-pr-4);
	background-color: var(--c-pr-2);
	// border-radius: 20px;
	color: #fff;
	font-size: 0.8rem;
	overflow: visible;
	padding: 0.2rem 0.75rem;
	white-space: nowrap;
}

// .c-infotag:before {
//   content: '';
//   border-top: 80px solid #fff;
//   border-right: 80px solid transparent;
//   width: 0;
// }
