.c-navigator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: var(--c-pr-2);
	padding-block: 0.5rem;
	border-block: 1px solid var(--c-pr-4);

	&-btn {
		cursor: pointer;
		background-color: transparent;
		border: none;
		font-size: 2rem;
		font-weight: 700;
	}
}
