$tabshape-desk: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 155 45'><path d='M126,0H78.4h-1.2l0,0H76H29.5C9.5,0,16.2,33.8,1,45h75.2h1.1l0,0h1.1h76.1C139.3,33.8,146,0,126,0z'/></svg>");
$tabshape-mini: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 85 45'><path d='M56.4,0H43.7h-1.2v0h-1.2H28.6C8.5,0,15.3,33.8,0,45h41.4h1.1v0h1.1H85C69.7,33.8,76.5,0,56.4,0z' /> </svg>");

.c-profmenu {
	background: linear-gradient(90deg, var(--c-pr-5) 0%, var(--c-pr-6) 100%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 0;
	padding: 0 0.5rem 0 0.5rem;
	margin-top: 2rem;
	width: 100%;

	@include up-to("md") {
		padding: 0 2rem 0 2rem;
	}
}

.c-profmenu-btn {
	align-items: center;
	background-color: var(--c-pr-3);
	border: none;
	color: var(--c-pr-7);
	display: flex;
	display: flex;
	flex-direction: row;
	font-weight: 600;
	height: 45px;
	justify-content: center;
	margin: 1rem -1.4rem 0 -1.4rem;
	mask-position: center;
	-webkit-mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: 100% 100%;
	-webkit-mask-size: 100% 100%;
	transition: all 0.3s ease 0s;
	width: 100px;
	@include ico($tabshape-mini);

	&:hover,
	&:focus {
		background-color: var(--c-pr-4);
		color: var(--c-pr-2);
	}

	&:hover {
		.c-profmenu-ico {
			background-color: var(--c-bg-0);
		}
	}

	&:active {
		color: var(--c-pr-3);
		background-color: var(--c-pr-3);
	}

	@include up-to("md") {
		margin: 1rem -1rem 0 -1rem;
		width: 160px;
		@include ico($tabshape-desk);
	}
}

.c-profmenu-ico {
	background-color: var(--c-mn-6);
	height: 40px;
	transition: all 0.3s ease 0s;
	width: 40px;

	&:hover,
	&:focus {
		background-color: var(--c-pr-4);
	}

	@include up-to("md") {
		margin-right: 0.4rem;
	}
}

.c-profmenu-text {
	display: none;

	@include up-to("md") {
		display: block;
		transform: translateX(-4px);
	}
}

.c-profmenu-active {
	background-color: var(--c-bg-0) !important;
	z-index: 3;

	.c-profmenu-ico {
		background-color: var(--c-pr-4) !important;
		z-index: 4;
	}
}
