.c-tips {
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border: 1px solid var(--c-pr-3);
	border-radius: 12px;
	padding: 0 1rem 1rem 1rem;
	margin-bottom: 2rem;
	background-color: var(--c-pr-7);

	h3,
	h4 {
		margin: 2rem auto 1rem auto;
	}

	p {
		@extend .t;
		color: --var(--c-pr-1);
	}
}
