$grap-graduation: 20px;
$grap-gap-min: 2px;

@mixin GraphBarBorder() {
	border: 1px solid var(--c-pr-2);
	border-radius: 30px;
}

@for $i from 1 through 12 {
	.c-gppg-bar[data-weight="#{$i}"] {
		--sizebar: #{$i};
	}
}

.c-gppg {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	width: 100%;

	&-plot,
	&-slice,
	&-slice-tri,
	&-legends,
	&-bars {
		align-items: flex-end;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
	}

	&-plot,
	&-slice,
	&-slice-tri,
	&-bars,
	&-bar,
	&-year {
		width: 100%;
	}

	&-plot {
		@include GraphBarBorder();
		flex-direction: row;
		flex-wrap: nowrap;
		overflow: hidden;
		padding: 4rem 1rem 0 1rem;
		position: relative;
		z-index: 5;
	}

	&-legends,
	&-slice,
	&-slice-zero,
	&-bars {
		flex-direction: column;
	}

	&-slice-zero {
		flex-direction: column-reverse;
		margin-right: 1rem;
		max-width: 15px;
	}

	&-slice {
		margin-inline: $grap-gap-min;
	}

	&-slice-tri {
		margin-inline: $grap-gap-min;
		width: 100%;
	}

	&-level {
		align-items: flex-end;
		color: var(--c-pr-3);
		display: flex;
		font-size: 0.7rem;
		height: $grap-graduation;
		justify-content: flex-end;
	}

	&-bars {
		flex-direction: column;
	}

	&-bar {
		--sizebar: 2;
		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: calc(var(--sizebar) * $grap-graduation);
		justify-content: center;
		width: 100%;
		z-index: 10;
	}

	// &-bar[data-type="1"],
	// &-legend[data-number="1"] {
	// 	background-color: var(--c-gb1);
	// }

	// &-bar[data-type="2"],
	// &-legend[data-number="2"] {
	// 	background-color: var(--c-gb2);
	// }

	// &-bar[data-type="3"],
	// &-legend[data-number="3"] {
	// 	background-color: var(--c-gb3);
	// }

	// &-bar[data-type="4"],
	// &-legend[data-number="4"] {
	// 	background-color: var(--c-gb4);
	// }

	// &-bar[data-type="5"],
	// &-legend[data-number="5"] {
	// 	background-color: var(--c-gb5);
	// }

	// &-bar[data-type="6"],
	// &-legend[data-number="6"] {
	// 	background-color: var(--c-gb6);
	// }

	&-legend {
		border-radius: 12px;
		color: var(--c-mn-0);
		font-size: 0.9rem;
		font-weight: 600;
		margin: 0.5rem;
		padding: 0.2rem 0.7rem;
	}

	&-grid {
		display: flex;
		flex-direction: column;
		margin-bottom: $grap-graduation;
		position: absolute;
		width: 100%;
		z-index: 2;

		&-line {
			border-bottom: 1px dashed var(--c-pr-4);
			border-left: none;
			border-right: none;
			border-top: none;
			box-sizing: border-box;
			margin: calc($grap-graduation - 1px) 0 0 0;
			padding: 0;
			width: 100%;
		}
	}

	&-infos {
		margin: 1rem 2rem;
	}

	&-title {
		font-weight: 600;
		margin-bottom: 1rem;
		text-align: center;
	}

	&-legends {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-year {
		color: var(--c-pr-2);
		font-size: 0.7rem;
		height: $grap-graduation;
		text-align: center;
		// border-inline: 1px solid var(--c-pr-4);
	}
}

@each $k, $v in $paletteGraph {
	.c-gppg-bar[data-type="#{$k+1}"],
	.c-gppg-legend[data-number="#{$k+1}"] {
		background-color: var(#{$v});
	}
}

.c-gppg-slice-tri .c-gppg-slice {
	margin: 0;
}

@include up-to("lg") {
	.c-gppg {
		&-plot {
			padding: 4rem 1rem 0 0.5rem;
		}

		&-legends {
			flex-direction: row;
		}
	}
}
