.s-list {
	list-style: none;

	&-bullet {
		display: none;
	}

	&-ico {
		display: none;
	}

	&-content {
		border-bottom: 1px dashed var(--c-pr-4);
		border-left: 1px solid var(--c-pr-4);
		margin-bottom: 1.5rem;
		padding-bottom: 1rem;
		padding-inline: 0.5rem;
	}

	&-content-mini {
		border-left: 3px solid var(--c-pr-4);
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		padding-inline: 0.5rem;
	}

	&-tags {
		@extend .d-h, .d-wrap;
		list-style: none;
	}

	&-tag {
		background-color: var(--c-pr-5);
		border: 1px solid var(--c-pr-3);
		border-radius: 10px;
		color: var(--c-pr-1);
		margin: 0.5rem;
		padding-inline: 0.7rem;
	}
}

@include up-to("md") {
	.s-list {
		display: grid;
		grid-template-areas: "left right";
		grid-template-columns: 10% 90%;
		list-style: none;

		&-bullet {
			align-items: flex-start;
			display: flex;
			grid-area: left;
			justify-content: flex-end;
			padding-right: 1rem;
		}

		&-ico {
			display: block;
			height: 50px;
			width: 50px;
		}

		&-content {
			grid-area: right;
		}

		&-content-mini {
			grid-area: right;
		}
	}
}

.s-nobullet {
	list-style: none;
}
